.accordian
{
    background-color: var(--fw-dock-back-color);
    overflow-y: hidden;
    position: relative;
}

.accordian.resizing
{
    cursor:ns-resize;
}

.accordian-section
{
    background-color: var(--fw-dock-back-color);
    position: relative;
    .accordian-content
    {
        display:none;
    }

    &.resizing
    {
        &::before
        {
            content: '';
            position: absolute;
            left: 0;
            top: -2px;
            width: 100%;
            height: 4px;
            background-color: var(--fw-info);
        }
    }
}

.accordian-section.expanded
{
    min-height: 100px;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;

    .accordian-content
    {
        display:block;
    }
}

.accordian-header
{
    touch-action: none;
    user-select: none;
    text-transform: uppercase;
    font-size: smaller;
    font-weight: bold;
    border-top: 1px solid rgba(var(--fw-base-fore-color-rgb), 0.15);
    padding: 3px 0;
    margin: 0;  

    span
    {
        pointer-events: none;        
    }
}

.accordian:not(.resizing)
{
    .accordian-header
    {
        cursor: pointer;
    }
}

.accordian-content
{
    overflow-y: auto;
    height: 100%;
    flex-grow: 1;
    touch-action: pan-y;
    padding: 10px;
    border-top: 1px solid var(--fw-base-back-color);
}


.content
{
    position: absolute;
    left: 420px;
    top: 10px;
    width: 400px;
}