@import 'root-colors.less';

.mixin-light()
{
    // Area Colors
    @sv-base-back-color: white;
    @sv-base-fore-color: black;
    @sv-body-back-color: white;
    @sv-body-fore-color: black;
    @sv-dock-back-color: #dadada;
    @sv-dock-fore-color: black;
    @sv-header-back-color: #cdcdcd;
    @sv-header-fore-color: black;

    // Class colors
    @sv-normal: #95a5a6;
    @sv-primary: #2c3e50;
    @sv-success: #18bc9c;
    @sv-info: #3498db;
    @sv-warning: #f39c12;
    @sv-danger: #e74c3c;

    // Class contrast colors
    @sv-normal-contrast: white;
    @sv-primary-contrast: white;
    @sv-success-contrast: white;
    @sv-info-contrast: white;
    @sv-warning-contrast: white;
    @sv-danger-contrast: white;

    // Misc 
    @sv-link-color: #18bc9c;
    @sv-disabled-color: #808080;

    @sv-unchecked-fore-color: #808080;
    @sv-unchecked-back-color: white;
    @sv-checked-fore-color: @sv-primary;
    @sv-checked-back-color: @sv-primary;

    // Frame colors
    @sv-popover-back-color: white;
    @sv-popover-fore-color: black;
    @sv-popover-border-color: #c0c0c0;
    @sv-popover-header-color: #f0f0f0;
    @sv-dialog-back-color: white;
    @sv-dialog-fore-color: black;
    @sv-dialog-border-color: #ccc;
    @sv-input-back-color: white;
    @sv-input-fore-color: black;
    @sv-input-border-color: black;

    color-scheme: light;
    --sv-font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    .root-colors();
}
