@sv-backcolor: #222;
@sv-forecolor: white;
@sv-primary: #375a7f;
@sv-secondary: #444;
@sv-success: #00bc8c;
@sv-info: #3498db;
@sv-warning: #f39c12;
@sv-danger: #e74c3c;
@sv-light: #adb5bd;
@sv-dark: #303030;
@sv-class-forecolor: white;
@sv-link-color: #00bc8c;
@sv-disabled-color: #808080;
@sv-popup-backcolor: #000;
@sv-popup-forecolor: #fff;

/*
primary
secondary
success
info
warning
danger
*/

// Mixin helper to generate r, g, b values
.makergb(@x) 
{
    @result: red(@x), green(@x), blue(@x);
}


:root {
    --sv-backcolor: @sv-backcolor;
    --sv-forecolor: @sv-forecolor;
    --sv-primary: @sv-primary;
    --sv-secondary: @sv-secondary;
    --sv-success: @sv-success;
    --sv-info: @sv-info;
    --sv-warning: @sv-warning;
    --sv-danger: @sv-danger;
    --sv-class-forecolor: @sv-class-forecolor;
    --sv-link-color: @sv-link-color;
    --sv-light: @sv-light;
    --sv-dark: @sv-dark;
    --sv-disabled-color: @sv-disabled-color;
    --sv-popup-backcolor: @sv-popup-backcolor;
    --sv-popup-forecolor: @sv-popup-forecolor;

    --sv-backcolor-rgb: .makergb(@sv-backcolor)[@result];
    --sv-forecolor-rgb: .makergb(@sv-forecolor)[@result];
    --sv-primary-rgb: .makergb(@sv-primary)[@result];
    --sv-secondary-rgb: .makergb(@sv-secondary)[@result];
    --sv-success-rgb: .makergb(@sv-success)[@result];
    --sv-info-rgb: .makergb(@sv-info)[@result];
    --sv-warning-rgb: .makergb(@sv-warning)[@result];
    --sv-danger-rgb: .makergb(@sv-danger)[@result];
    --sv-class-forecolor-rgb: .makergb(@sv-class-forecolor)[@result];
    --sv-link-color-rgb: .makergb(@sv-link-color)[@result];
    --sv-light-rgb: .makergb(@sv-light)[@result];
    --sv-dark-rgb: .makergb(@sv-dark)[@result];
    --sv-disabled-color-rgb: .makergb(@sv-disabled-color)[@result];
    --sv-popup-backcolor-rgb: .makergb(@sv-popup-backcolor)[@result];
    --sv-popup-forecolor-rgb: .makergb(@sv-popup-forecolor)[@result];
    
    --sv-font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

