// Theme Colors
@sv-base-backcolor: #222;
@sv-base-forecolor: white;
@sv-body-backcolor: #1e1e1e;
@sv-body-forecolor: white;
@sv-dock-backcolor: #252526;
@sv-dock-forecolor: white;
@sv-header-backcolor: #323233;
@sv-header-forecolor: white;
@sv-primary: #375a7f;
@sv-secondary: #444;
@sv-success: #00bc8c;
@sv-info: #3498db;
@sv-warning: #f39c12;
@sv-danger: #e74c3c;
@sv-light: #adb5bd;
@sv-dark: #303030;
@sv-class-altcolor: white;
@sv-link-color: #00bc8c;
@sv-disabled-color: #808080;
@sv-popup-backcolor: #000;
@sv-popup-forecolor: #fff;
@sv-input-backcolor: black;
@sv-input-forecolor: white;


// Mixin helper to generate r, g, b values
.makergb(@x) 
{
    @result: red(@x), green(@x), blue(@x);
}


:root {
    color-scheme: dark;
    --sv-base-backcolor: @sv-base-backcolor;
    --sv-base-forecolor: @sv-base-forecolor;
    --sv-body-backcolor: @sv-body-backcolor;
    --sv-body-forecolor: @sv-body-forecolor;
    --sv-dock-backcolor: @sv-dock-backcolor;
    --sv-dock-forecolor: @sv-dock-forecolor;
    --sv-header-backcolor: @sv-header-backcolor;
    --sv-header-forecolor: @sv-header-forecolor;
    --sv-primary: @sv-primary;
    --sv-secondary: @sv-secondary;
    --sv-success: @sv-success;
    --sv-info: @sv-info;
    --sv-warning: @sv-warning;
    --sv-danger: @sv-danger;
    --sv-class-altcolor: @sv-class-altcolor;
    --sv-link-color: @sv-link-color;
    --sv-light: @sv-light;
    --sv-dark: @sv-dark;
    --sv-disabled-color: @sv-disabled-color;
    --sv-popup-backcolor: @sv-popup-backcolor;
    --sv-popup-forecolor: @sv-popup-forecolor;
    --sv-input-backcolor: @sv-input-backcolor;
    --sv-input-forecolor: @sv-input-forecolor;

    --sv-base-backcolor-rgb: .makergb(@sv-base-backcolor)[@result];
    --sv-base-forecolor-rgb: .makergb(@sv-base-forecolor)[@result];
    --sv-body-backcolor-rgb: .makergb(@sv-body-backcolor)[@result];
    --sv-body-forecolor-rgb: .makergb(@sv-body-forecolor)[@result];
    --sv-dock-backcolor-rgb: .makergb(@sv-dock-backcolor)[@result];
    --sv-dock-forecolor-rgb: .makergb(@sv-dock-forecolor)[@result];
    --sv-header-backcolor-rgb: .makergb(@sv-header-backcolor)[@result];
    --sv-header-forecolor-rgb: .makergb(@sv-header-forecolor)[@result];
    --sv-primary-rgb: .makergb(@sv-primary)[@result];
    --sv-secondary-rgb: .makergb(@sv-secondary)[@result];
    --sv-success-rgb: .makergb(@sv-success)[@result];
    --sv-info-rgb: .makergb(@sv-info)[@result];
    --sv-warning-rgb: .makergb(@sv-warning)[@result];
    --sv-danger-rgb: .makergb(@sv-danger)[@result];
    --sv-class-altcolor-rgb: .makergb(@sv-class-altcolor)[@result];
    --sv-link-color-rgb: .makergb(@sv-link-color)[@result];
    --sv-light-rgb: .makergb(@sv-light)[@result];
    --sv-dark-rgb: .makergb(@sv-dark)[@result];
    --sv-disabled-color-rgb: .makergb(@sv-disabled-color)[@result];
    --sv-popup-backcolor-rgb: .makergb(@sv-popup-backcolor)[@result];
    --sv-popup-forecolor-rgb: .makergb(@sv-popup-forecolor)[@result];
    --sv-input-backcolor-rgb: .makergb(@sv-input-backcolor)[@result];
    --sv-input-forecolor-rgb: .makergb(@sv-input-forecolor)[@result];
    
    --sv-font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

