// Mixin helper to generate r, g, b values
.makergb(@x) 
{
    @result: red(@x), green(@x), blue(@x);
}

.root-colors()
{
    // Base color that match theme "direction" - each either black or white
    --fw-base-back-color: @fw-base-back-color;
    --fw-base-fore-color: @fw-base-fore-color;

    // The main body colors
    --fw-body-back-color: @fw-body-back-color;
    --fw-body-fore-color: @fw-body-fore-color;

    // Side panel colors (somewhere between body and header
    --fw-dock-back-color: @fw-dock-back-color;
    --fw-dock-fore-color: @fw-dock-fore-color;

    // Header colors
    --fw-header-back-color: @fw-header-back-color;
    --fw-header-fore-color: @fw-header-fore-color;

    // Class colors
    --fw-normal: @fw-normal;
    --fw-primary: @fw-primary;
    --fw-success: @fw-success;
    --fw-info: @fw-info;
    --fw-warning: @fw-warning;
    --fw-danger: @fw-danger;

    // Contrasting colors to above
    --fw-normal-contrast: @fw-normal-contrast;
    --fw-primary-contrast: @fw-primary-contrast;
    --fw-success-contrast: @fw-success-contrast;
    --fw-info-contrast: @fw-info-contrast;
    --fw-warning-contrast: @fw-warning-contrast;
    --fw-danger-contrast: @fw-danger-contrast;

    // Misc
    --fw-link-color: @fw-link-color;
    --fw-disabled-color: @fw-disabled-color;
    --fw-unchecked-back-color: @fw-unchecked-back-color;
    --fw-unchecked-fore-color: @fw-unchecked-fore-color;
    --fw-checked-back-color: @fw-checked-back-color;
    --fw-checked-fore-color: @fw-checked-fore-color;

    // Frame colors
    --fw-popover-back-color: @fw-popover-back-color;
    --fw-popover-fore-color: @fw-popover-fore-color;
    --fw-popover-border-color: @fw-popover-border-color;
    --fw-popover-header-color: @fw-popover-header-color;
    --fw-dialog-back-color: @fw-dialog-back-color;
    --fw-dialog-fore-color: @fw-dialog-fore-color;
    --fw-dialog-border-color: @fw-dialog-border-color;
    --fw-input-back-color: @fw-input-back-color;
    --fw-input-fore-color: @fw-input-fore-color;
    --fw-input-border-color: @fw-input-border-color;


    // RGB versions of everything above
    --fw-base-back-color-rgb: .makergb(@fw-base-back-color)[@result];
    --fw-base-fore-color-rgb: .makergb(@fw-base-fore-color)[@result];
    --fw-body-back-color-rgb: .makergb(@fw-body-back-color)[@result];
    --fw-body-fore-color-rgb: .makergb(@fw-body-fore-color)[@result];
    --fw-dock-back-color-rgb: .makergb(@fw-dock-back-color)[@result];
    --fw-dock-fore-color-rgb: .makergb(@fw-dock-fore-color)[@result];
    --fw-header-back-color-rgb: .makergb(@fw-header-back-color)[@result];
    --fw-header-fore-color-rgb: .makergb(@fw-header-fore-color)[@result];
    --fw-normal-rgb: .makergb(@fw-normal)[@result];
    --fw-primary-rgb: .makergb(@fw-primary)[@result];
    --fw-success-rgb: .makergb(@fw-success)[@result];
    --fw-info-rgb: .makergb(@fw-info)[@result];
    --fw-warning-rgb: .makergb(@fw-warning)[@result];
    --fw-danger-rgb: .makergb(@fw-danger)[@result];
    --fw-normal-contrast-rgb: .makergb(@fw-normal-contrast)[@result];
    --fw-primary-contrast-rgb: .makergb(@fw-primary-contrast)[@result];
    --fw-success-contrast-rgb: .makergb(@fw-success-contrast)[@result];
    --fw-info-contrast-rgb: .makergb(@fw-info-contrast)[@result];
    --fw-warning-contrast-rgb: .makergb(@fw-warning-contrast)[@result];
    --fw-danger-contrast-rgb: .makergb(@fw-danger-contrast)[@result];
    --fw-link-color-rgb: .makergb(@fw-link-color)[@result];
    --fw-disabled-color-rgb: .makergb(@fw-disabled-color)[@result];
    --fw-unchecked-fore-color-rgb: .makergb(@fw-unchecked-fore-color)[@result];
    --fw-unchecked-back-color-rgb: .makergb(@fw-unchecked-back-color)[@result];
    --fw-checked-fore-color-rgb: .makergb(@fw-checked-fore-color)[@result];
    --fw-checked-back-color-rgb: .makergb(@fw-checked-back-color)[@result];
    --fw-popover-back-color-rgb: .makergb(@fw-popover-back-color)[@result];
    --fw-popover-fore-color-rgb: .makergb(@fw-popover-fore-color)[@result];
    --fw-popover-border-color-rgb: .makergb(@fw-popover-border-color)[@result];
    --fw-popover-header-color-rgb: .makergb(@fw-popover-header-color)[@result];
    --fw-dialog-back-color-rgb: .makergb(@fw-dialog-back-color)[@result];
    --fw-dialog-fore-color-rgb: .makergb(@fw-dialog-fore-color)[@result];
    --fw-dialog-border-color-rgb: .makergb(@fw-dialog-border-color)[@result];
    --fw-input-back-color-rgb: .makergb(@fw-input-back-color)[@result];
    --fw-input-fore-color-rgb: .makergb(@fw-input-fore-color)[@result];    
    --fw-input-border-color-rgb: .makergb(@fw-input-border-color)[@result];    
}